# dicom example images
dicom_examples/*

# dicom parser virtual environment
dicom-parser-venv/*

## local storage for files
backend-api/local_storage/dicom_images/*
local_storage/dicom_images/*

# compiled output
backend-api/dist
backend-api/node_modules
backend-api/build

# Logs
backend-api/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Ignore Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.whl

# Ignore virtual environments
.env/
.venv/

# Poetry-related files
poetry.lock

# Test-related files
htmlcov/
.tox/
.cache/
.pytest_cache/
*.cover
coverage.xml
nosetests.xml
*.log

# Ignore backend-api Python artifacts
backend-api/dicom-parser/.mypy_cache/
backend-api/dicom-parser/.pytest_cache/
backend-api/dicom-parser/__pycache__/
backend-api/dicom-parser/build/
backend-api/dicom-parser/dist/
backend-api/dicom-parser/*.egg-info

# Ignore temporary files
backend-api/dicom-parser/.DS_Store
backend-api/dicom-parser/.coverage
backend-api/dicom-parser/.env

# frontend
frontend/build
frontend/node_modules
frontend/dist-ssr
frontend/dist
frontend/*.local
frontend/coverage

# frontend Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

